{% load static %}
{% load tz %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Token</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
     <div class="container mt-5 back">
        <div class="row border border-warning justify-content-center" style="background-color: antiquewhite;">
            <h1 class="text-center text-success">Your Ticket History </h1>
        </div>
        <div class="row bg-success text-light mt-2" id="msg">
            {% if messages %}
                {% for message in messages %}
                <p class="ml-2 mt-1">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row  mt-2 ">
            <div class="col-sm-11">
                <h5 class="mt-4 ml-4">Ticket Information</h5>
                {% for token in token_dict %}
                {% if token.email == request.session.email %}
                <div class="col-sm-7 ml-4 mt-2 border" style="background-color: white;height: 100px; border-radius: 8px;">
                    <div class="row">
                        <div class="col-sm-10">
                        <h4 class="mt-1"><a href="/token-details/{{token.ticketNumber}}_{{token.id}}">{{token.subject}}</a></h4>
                        <h5 class="mt-1" style="">{{token.createdTime}}</h5>
                        </div>
                        <div class="col-sm-2">
                            <h5 class="mt-1" style="">#{{token.ticketNumber}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <ul>
                        <li class="ml-3">PWSLab DevOps Support</li>
                        </ul>
                    </div>
                {% endif %}
                </div>
                {% endfor %}
                <div class="col-sm-3">
                </div>
            </div>
            <div class="col-sm-1">
            </div>
        </div>
    </div>
    <script>
    setTimeout(function() { 
    $('#msg').fadeOut(); 
    }, 3000);
    </script>
</body>
</html>