{% load static %}
{% load tz %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Token</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
     <div class="container mt-5 back">
        <div class="row border border-warning justify-content-center" style="background-color: antiquewhite;">
            <h1 class="text-center text-success">Your Ticket History </h1>
        </div>
        <div class="row bg-success text-light mt-2" id="msg">
            {% if messages %}
                {% for message in messages %}
                <p class="ml-2 mt-1">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row  mt-2 ">
            <div class="col-sm-8">
                <div class="col-sm-8 ml-4 mt-2 border" style="background-color: white;height: 80px; border-radius: 8px;">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="mt-1 text-success">{{token_get.subject}}</a></h4>
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="col-sm-4 border">
                <h2 class="mt-4">Properties</h2>
                <h4 class="text-secondary">TicketId</h4>
                <p>#{{request.session.token}}</p>
                <h4 class="text-secondary">Status</h4>
                <p>{{token_get.status}}</p>
                <h4 class="text-secondary">Channel</h4>
                <p>{{token_get.channel}}</p>
                <h2 class="mt-5">Ticket Information</h2>
                <h4 class="text-secondary">Department</h4>
                <p>PWSLab DevOps Support</p>
                <h4 class="text-secondary">Category</h4>
                <p>{{token_get.category}}</p>
                <h4 class="text-secondary">Created date</h4>
                <p>{{created_date|date:"d M Y g:i A"}}</p>
                <h2 class="mt-5">Additional Information</h2>
                <h4 class="text-secondary" >Priority</h4>
                <p>{{token_get.priority}}</p>
                <h4 class="text-secondary">Email</h4>
                <p>{{token_get.email}}</p>
            </div>
        </div>
    </div>
</body>
</html>